body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
   background-image: url("watch.jpg");
   background-size: 800px;
   overflow: hidden;
   
    
}
h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
    text-align: center;
    font-style: bold;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    background-color: blanchedalmond;
}
.tiktok{
    display: flex;
    font-family: sans-serif;
}
.tiktok div{
    margin: 5px;
    position: relative;
}
.tiktok span{
    width: 100px;
    height: 80px;
    background-color: slateblue;
    opacity: .8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.tiktok .text{
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: darkblue;
    opacity: 80%;
}
.tiktok #ampm{
    position: absolute;
    bottom: 0;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background: red;
    

}